@model MealFridge.Models.ViewModels.Meals

@if (Model.Breakfast.Count < 7 || Model.Lunch.Count < 7 || Model.Dinner.Count < 7)
{
    <p>We are unable to generate a meal plan at this time</p>
}
@if (Model.Breakfast.Count > 7 || Model.Lunch.Count > 7 || Model.Dinner.Count > 7)
{
    <div class="row m-lg-2 mb-lg-4 shadow-lg bg-secondary">
        <div class="col-md-4">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Breakfast
                </h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Lunch
                </h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Dinner
                </h3>
            </div>
        </div>
    </div>

    @for (var i = 0; i < 7; ++i)
    {

        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg rounded-lg">
                    <img src="@Model.Breakfast[i].Recipe.Image" alt="Image of recipe" class="card-image" />
                    <div class="card-body">
                        <h4 class="card-title">
                            @Model.Breakfast[i].Recipe.Title
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg rounded-lg">
                    <img src="@Model.Lunch[i].Recipe.Image" alt="Image of recipe" class="card-image" />
                    <div class="card-body">
                        <h4 class="card-title">
                            @Model.Lunch[i].Recipe.Title
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg rounded-lg">
                    <img src="@Model.Dinner[i].Recipe.Image" alt="Image of recipe" class="card-image" />
                    <div class="card-body">
                        <h4 class="card-title">
                            @Model.Breakfast[i].Recipe.Title
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    }
}